<html>
    <head>
        <title>ひかりちゃんの部屋</title>
        <link rel="stylesheet" type="text/css" href-"statis/css/baseStyle.css">
    </head>

    <body>
        <img src="static/images/talkRoom/TalkAI_graphics_normal.png" alt="ひかりちゃん" align=left>
        <div id="holder">
                ひかり &gt; あ，いらっしゃい！どうしたの?<br><br>
        </div>
        <div id="sender">
            <input type="text" id="message" size=80 value="こんにちは">
            <button id="send">send</button>
        </div>
    </body>
</html>
