<html>
    <head>
        <title>コモタの日々 α版 </title>
        <link rel="stylesheet" type="text/css" href="/static/css/baseStyle.css">
    </head>

    <body>
        <h1 class="bold">コモタの日々 α版</h1>
        まだ何もありませんが，ゆっくりしていってください<br>
        <hr>
        <h2 class="bold">目次</h2>
            <p><a href="/admin">管理者ページ</a></p>        
            <p><a href="/now_making">ひかりちゃんの部屋</a></p>        
            <p><a href="/now_making">ゲーム部屋</a></p>        


<!--        <a href="/hello">HelloPHP</a>  -->
    </body>
</html>
