<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.1/react-dom.js"></script>
  <!--babelを読み込む-->
  <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
  
  <!--reactとreact-domのライブラリを読み込む-->
  <script type="text/javascript" src="/static/javascript/modi.js"></script>
  <script type="text/babel" src="/static/javascript/baseReactJSX.js"></script>
  <script type="text/babel" src="/static/javascript/helloJSX.js"></script>
  <script type="text/babel" src="/static/javascript/buttonJSX.js"></script>
  <script type="text/babel" src="/static/javascript/textinput.js"></script>
</head>
<body>
  
<script>
  koshin();
</script>

<div id="hello"></div>
<div id="content"></div>
<div id="button"></div>
<div>HTML :<input type="text" value="入力欄" /></div>
<div id="textForm"></div>

</body>
</html>
